.orderItem {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    font-size: 15px;
}

.orderItem:last-child {
    padding-bottom: 0;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}

.col:nth-child(3) {
    display: none;
}

.label {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

.value {
    font-weight: 400;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
}

.orderNumber {
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .orderItem {
        padding-bottom: 20px;
    }

    .orderItem:last-child {
        padding-bottom: 0;
    }

    .col:nth-child(3) {
        display: flex;
    }

    .label {
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {

}