.section {
    padding-top: 32px;
    padding-bottom: 64px;
}

.title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    margin-bottom: 40px;
}


.stars {
    display: flex;
    gap: 4px;
    margin-bottom: 32px;
}

.star {
    width: 20px;
    height: 20px;
}

.text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
    min-height: 75px;
}

.name {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-top: auto;
    margin-bottom: 4px;
}

.product {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    margin-bottom: 40px;
}

.controls {
    display: flex;
    justify-content: flex-end;
    gap: 9px;
}

.btnPrev, 
.btnNext {
    border: 1px solid var(--color-scheme-1-background);
    border-radius: 100px;
    padding: 12px;
    width: 48px;
    height: 48px;
    background: var(--color-scheme-5-foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btnPrev:hover,
.btnNext:hover {
    background: var(--color-deco-dark);
}

.btnNext:disabled,
.btnNext:disabled {
    background: var(--color-deco);
    opacity: 0.4;
}

@media screen and (min-width: 768px) {
   
}

@media screen and (min-width: 1440px) {
    .section {
            padding-top: 56px;
            padding-bottom: 112px;
    }

    .title {
        font-size: 48px;
    }

    .text {
        font-size: 20px;
        min-height: 56px;
    }
}

