.container {
    padding: 20px;
}

.title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 48px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.goods_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.order_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
}

.comment_text {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 12px;
    max-width: 335px;
    height: 180px;
    background-color: transparent;
    width: 100%;
    color: var(--color-neutral-darkest);
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.comment_text::placeholder {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #999;
}

.submit_button {
    font-family: var(--font-inter);
    border: 1px solid var(--color-deco);
    background-color: var(--color-deco);
    border-radius: 100px;
    padding: 6px 12px;
    max-width: 335px;
    width: 100%;
    height: 36px;
    color: var(--color-neutral-darkest);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

@media only screen and (min-width: 768px) {
    .comment_text {
        max-width: 704px;
    }

    .submit_button {
        width: 100%;
        max-width: none;
    }

}

@media only screen and (min-width: 1440px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
    }

    .goods_list, .comment_text {
        max-width: 640px;
    }

}

