.container {
    padding: 20px;
    gap: 32px;
}

.title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 48px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goods_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

@media only screen and (min-width: 1440px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
    }

    .goods_list {
        max-width: 640px;
    }
}

