.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.title_button {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  margin-bottom: 40px;
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
}

.button {
  display: flex;
  justify-content: center;
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 6px 12px;
  min-width: 125px;
  height: 36px;
  background: var(--opacity-neutral-darkest-5);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-neutral-darkest);
  transition: background 250ms ease-in-out;
}

.button:hover,
.button:focus {
  border: 1px solid var(--color-deco);
  background: var(--opacity-neutral-darkest-50);
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 48px;
    color: var(--color-scheme-1-text);
  }
}
