.formWrapper {
  display: flex;
  flex-direction: column; /* Mobile-first: стовпчик */
  gap: 24px;
  width: 100%; /* Займає всю доступну ширину */
  max-width: 335px; /* Але не більше 335px */
  min-width: 280px; /* Мінімум 280px */
  margin: 16px auto 16px; /* Центрування */
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%; /* Mobile-first: повна ширина */
}

@media (min-width: 768px) {
  .formWrapper {
    flex-direction: row; /* Рядок на великих екранах */
    flex-wrap: wrap;
    gap: 24px 32px;
    max-width: 704px;
  }

  .field {
    flex: 1 1 300px; /* Гнучка ширина */
  }
}

@media only screen and (min-width: 1440px) {
  .formWrapper {
    max-width: 640px;
  }
}

.fullWidthField {
  flex: 1 1 100%; /* На всю ширину */
}

.label {
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-neutral-darkest);
}

.input {
  height: 40px;
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #f3f9ed;
  font-size: 15px;
  outline: none;
  color: var(--color-neutral-darkest);
  transition: border-color 0.25s ease;
}

.input::placeholder {
  color: --opacity-neutral-darkest-60;
}

.input:focus {
  border-color: var(--color-deco-dark);
}

.error {
  color: var(--color-red);
}
