.goodsReviews {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.titleReviews {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-4-text);
}
.addReviews {
  border: 1px solid var(--color-deco);
  border-radius: 100px;
  padding: 6px 12px;
  width: 156px;
  height: 36px;
  background: var(--color-deco);
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .goodsReviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .addReviews {
    margin-bottom: 0;
  }
}
