#checkbox-input {
    display: none;
}

.switch {
    width: fit-content;
    padding: 5px;
    background-color: rgb(46, 46, 46);
    border-radius: 50px;
    z-index: 1;
    cursor: pointer;
    display: flex;
    transition: all 0.7s;
}



:global(#checkbox-input:checked)+.switch {
    background-color: rgb(236, 225, 13);
    box-shadow:
            0 0 50px rgb(255, 255, 180),
            0 0 150px rgb(255, 255, 120),
}

:global(#checkbox-input) {
    display: none;
}

@media screen and (min-width: 768px) {

  
    .switch:hover {
        scale: 1.3;
    }
}


/* From Uiverse.io by OfficialRedx09 */
/* The switch - the box around the slider */

/* .button {
    background: none;
    border: none;
}
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
} */

/* Hide default HTML checkbox */
/* .switch input {
    opacity: 0;
    width: 0;
    height: 0;
} */

/* The slider */
/* .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 2px solid #383838;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: rgb(0, 233, 116);
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.switch input:checked+.slider {
    box-shadow: 0 0 20px rgba(9, 241, 79, 0.8);
    border: 2px solid #04e763;
}

.switch input:checked+.slider:before {
    transform: translateX(1.5em);
} */