.btnPrev,
.btnNext {
    border: 1px solid var(--color-scheme-1-background);
    border-radius: 100px;
    padding: 12px;
    width: 48px;
    height: 48px;
    background: var(--color-scheme-5-foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btnPrev:hover,
.btnNext:hover {
    background: var(--color-deco-dark);
}

.btnNext:disabled,
.btnNext:disabled {
    background: var(--color-deco);
    opacity: 0.4;
}