.favoritesContainer {   
    padding-top: 40px;
    padding-bottom: 40px; 
    height: 100vh; 
}

.messageContainer {
    max-width: 335px;
    margin: 0 auto;
}

.pageTitle {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--color-scheme-4-text);
    margin-bottom: 40px;
    text-align: center;
}

.favoritesList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.favoriteItem {
    position: relative;
    background-color: #c5e1a5;
    border-radius: 16px;
    overflow: hidden;
}

.image {
    width: 337;
    max-height: 355px;
}

.info {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
}



.name {
    font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: var(--color-scheme-1-text);
        max-width: 200px;
}

.price {
    font-family: var(--font-family);
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-scheme-1-text);
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding: 8px 16px;
}

.trash {
    scale: 1;
    transition: scale 250ms ease-in-out;
}
.trash:hover {
    scale: 1.2;
}
.removeButton {
    background-color: transparent;
    border: none;
}

.iconHeart {
}

.emptyMessage {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
}

@media screen and (min-width: 768px) {
    .favoritesList {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 16px;
        }

    .pageTitle {
        font-size: 48px;
    }
}

@media screen and (min-width: 1440px) {
    .messageContainer {
        max-width: 635px;
        margin: 0 auto;
    }

    .image {
            width: 310;
            max-height: 330px;
        }
}