.sidebarContainer {
  width: 243px;
}
.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
}
.button {
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  background: transparent;
  line-height: 150%;
  color: var(--color-neutral-darkest);
}
.shown {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 8px;
}
@media screen and (min-width: 1440px) {
  .sidebarContainer {
    width: 303px;
  }
}
