.image {
  border-radius: 16px;
  width: 335px;
  height: 335px;
  margin-bottom: 16px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.name {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  max-width: 230px;
}

.price {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.rate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.ratenumber {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}

.favorites {
  margin-left: auto;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1;
  transition: all 250ms ease-in-out;
}



.detail {
  cursor: pointer;
  outline: none;
  margin-top: 16px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 4px 10px;
  width: 335px;
  height: 40px;
  background: rgba(0, 0, 0, 0.05);
  transition: background 250ms ease-in-out;
  color: var(--color-neutral-darkest);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.detail:hover,
.detail:focus {
  border: 1px solid var(--opacity-neutral-darkest-50);
  background: var(--opacity-neutral-darkest-15);
}

.swiper {
  margin-bottom: 40px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
}

.paginationContainer {
  margin: 0 auto;
}

.paginationContainer {
  background-color: inherit;

  transition: all 0.3s ease-in-out;
}

.paginationContainer :global(.swiper-pagination-bullet-active) {
  background-color: #000000;
}

.buttonControls {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.btnPrev,
.btnNext {
  border: 1px solid var(--color-scheme-1-background);
  border-radius: 100px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: var(--color-scheme-5-foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 250ms ease-in-out;
}

.btnPrev:hover,
.btnNext:hover {
  background: var(--color-deco-dark);
}

.btnNext:disabled,
.btnNext:disabled {
  background: var(--color-deco);

  opacity: 0.4;
}

@media screen and (min-width: 768px) {
  .sliderContainer {
    margin-bottom: 0px;
    position: relative;
    overflow: visible;
  }
  .item {
    z-index: 2;
  }

  .image {
    border-radius: 16px;
    width: 336px;
    height: 336px;
  }

  .buttonControls {
    position: absolute;
    top: 30%;
    left: -28px;
    width: 108%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    z-index: 10;
  }
  .btnPrev,
  .btnNext {
    pointer-events: auto;
  }

    .favorites:hover,
    .favorites:focus {
      scale: 1.3;
    }
}

@media screen and (min-width: 1440px) {
  .image {
    border-radius: 16px;
    width: 304px;
    height: 304px;
  }

  .name {
    max-width: 200px;
  }

  .buttonControls {
    left: -28px;
    width: 104%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    z-index: 10;
  }
  .detail {
    width: 304px;
    height: 40px;
  }
}
