.langButton {
  position: fixed;
  top: 150px;
  right: 20px;

  width: 40px;
  height: 40px;

  border: 1px solid var(--color-scheme-1-background);
  box-shadow: 0 4px 20px var(--color-scheme-5-foreground);
  border-radius: 50%;
  padding: 12px;

  background: var(--color-scheme-5-foreground);
  color: #fff;
  font-weight: bold;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: background 250ms ease-in-out, transform 180ms ease;
  z-index: 999;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.langButton:hover {
  transform: scale(1.2);
  background: rgba(0, 0, 0, 0.85);
}

.langButton:active {
  transform: scale(0.95);
}

@media screen and (min-width: 768px) {
  .langButton {
    width: 50px;
    height: 50px;
  }
}