.rangeContainer {
  padding: 16px 8px;
}

.rangeTrack {
  height: 4px;
  width: 100%;
  background-color: #ccc;
  border-radius: 4px;
  margin-bottom: 24px;
}

.rangeThumb {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.rangeThumb:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

.rangeLabels {
  display: flex;
  justify-content: space-between;

  color: #333;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000;
}
