.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end;
  z-index: 9999;
  overflow-y: hidden;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.visibleBackdrop {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease;
}

.hiddenBackdrop {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.fadeIn {
  animation-name: backdropFadeIn;
}

.fadeOut {
  animation-name: backdropFadeOut;
}

@keyframes backdropFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes backdropFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  background: #fff;
  width: 100%;
  max-width: 375px;
  height: 100%;
  overflow-y: auto;
  padding: 40px 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.slideIn {
  animation-name: slideInRight;
}

.slideOut {
  animation-name: slideOutRight;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0.7;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0.6;
  }
}

.closeBtnContainer {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  top: 16px;
  right: 16px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #333;
  transition: color 0.2s;
}

.closeButton:hover {
  color: #a41215;
}

.title {
  font-family: var(--second-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-neutral-darkest);
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

.secondaryButton {
  background-color: var(--opacity-neutral-darkest-5);
  border: 1px solid var(--opacity-transparent);
}

.primaryButton {
  background: var(--color-deco);
  border: 1px solid var(--color-deco);
}

.primaryButton,
.secondaryButton {
  border-radius: 100px;
  padding: 6px 12px;

  font-family: var(--font-inter);
  text-align: center;
  color: var(--color-neutral-darkest);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.secondaryButton:hover {
  background-color: var(--opacity-neutral-darkest-15);
  border: 1px solid var(--opacity-neutral-darkest-50)
}

.primaryButton:hover {
  background-color: var(--color-deco-dark);
  border: 1px solid var(--color-deco-darker);
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 40px 32px;
    min-width: 610px;
  }

  .actions {
    flex-direction: row;
    gap: 24px;
  }

  .primaryButton,
  .secondaryButton {
    width: 232px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    padding: 40px 64px 0 32px;
  }

  .primaryButton,
  .secondaryButton {
    width: 234.5px;
  }
}