.radioInputs {
    display: flex;
    gap: 24px;
    justify-content:space-around;
    margin-bottom: 24px;
}

.radioLabel {
    cursor: pointer;
}

.radioInput {
    display: none;
}

.radioTile {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 16px;
    transition: border-color 250ms;
}

.radioInput:checked+.radioTile {
    border-color: #0070f3;
}



