.section {
  background-color: var(--color-scheme-6-background);
  padding: 48px 0px;
}
.logo {
  margin-bottom: 40px;
}
.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerWrap {
  margin-bottom: 40px;
}
.menu {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
}
.navigationList {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}
.navigation {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.subscribe {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 24px;
}
.containerSubscribe {
  display: flex;
  align-items: center;
  gap: 16px;
}

.input {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 8px;
  width: 195px;
  height: 40px;
  background: rgba(255, 255, 255, 0);
  color: #000;
}
.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.6);
}
.button {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 8px;
  width: 124px;
  height: 40px;
  background: rgba(0, 0, 0, 0.05);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}
.socials {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 32px;
}
.rights {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 16px;
  text-align: center;
}
.socialContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 48px 0px;
  }
  .containerWrap {
    display: flex;
    flex-direction: row;
    gap: 77px;
  }
  .linksContainer {
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
  }
  .menu {
    font-size: 14px;
  }
  .navigation {
    font-size: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation:hover,
  .navigation:active {
    color: #3b4331;
  }
  .navigationList {
    align-items: flex-start;
  }
  .subscribe {
    font-size: 14px;
  }
  .text {
    font-size: 14px;
  }
  .input {
    width: 273px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .input::placeholder {
    font-size: 14px;
  }
  .input:focus,
  .input:hover {
    border: 1px solid #3b4331;
  }
  .button {
    width: 111px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
      background 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button:hover,
  .button:focus {
    background: #9db484;
  }
  .button:active {
    background: #3b4331;
    color: #fff;
  }
  .button:disabled {
    background: #c5e1a5;
    opacity: 0.4;
    color: #000;
  }
  .socials {
    display: flex;
    justify-content: space-between;
  }
  .socialLinks {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socialLinks:hover {
    fill: white;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    padding: 80px 0px;
  }
  .containerWrap {
    justify-content: space-between;
  }
  .linksContainer {
    gap: 322px;
  }

  .menu {
    font-size: 16px;
  }
  .navigation {
    font-size: 14px;
  }
  .navigationList {
    align-items: flex-start;
  }
  .subscribe {
    font-size: 16px;
  }
  .text {
    font-size: 16px;
  }
  .input {
    width: 260px;
  }
  .input::placeholder {
    font-size: 16px;
  }
  .button {
    width: 124px;
    height: 36px;
  }
}
