.container {
    min-width: 280px;
    width: 100%;
}

.goods_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding-right: 8px;
}

.goods_list::-webkit-scrollbar {
    width: 14px;
    height: 64px;
}

.goods_list::-webkit-scrollbar-track {
    background: var(--color-deco);
    border: 5px solid var(--color-deco-lighter);
    border-radius: 8px;
    background-clip: content-box;
}

.goods_list::-webkit-scrollbar-thumb {
    background: var(--color-deco-dark);
    border-radius: 8px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.good_quantity, .good_price {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    white-space: nowrap;
}

.good_numbers {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.good_number {
    display: flex;
    gap: 4px;
    align-items: center;
}

.good_item {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    align-items: center;
    justify-content: center
}

.good_image {
    border-radius: 16px;
    width: 82px;
    height: 101px;  
}

.good_name {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.good_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    min-width: 0;
}

.info_wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 150px;
}

.good_numbers {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.good_right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.good_right_actions {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.good_quantity {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 8px;
    text-align: start;
    width: 64px;
    height: 40px;
    background: transparent;
    color: var(--color-neutral-darkest);
}

.delete_button {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    width: 40px;
    height: 40px;   
    background: var(--opacity-neutral-darkest-5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.total_price_wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.provisional_price, .delivery_price {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px; 
    line-height: 150%;
}

.provisional_price, .provisional_price_value {
    margin-top: 13.5px;
    margin-bottom: 5.5px;
}

.delivery_price, .delivery_price_value {
    margin: 4px 0;
}

.total_price, .total_price_value {
    margin: 12px 0;
}

.total_price {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
}

.total_price_value, .delivery_price_value, .provisional_price_value {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price_item {
    display: flex;
    justify-content: space-between;
}


@media only screen and (min-width: 768px) {

    .good_info {
        gap: 0;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    
    .info_wrapper {
        flex: 0 0 auto;  /* Не розтягувати */
    }

    .good_right, .good_right_actions {
        flex-direction: row;
        align-items: center;
        gap: 32px;
    }

}

@media only screen and (min-width: 1440px) {
    .wrapper {
        min-height: 503px;
    }

    .goods_list {
        max-height: 452px;
    }
}