.container {
    min-width: 280px;
    width: 100%;
}

.goods_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
}

.good_quantity, .good_price {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.good_numbers {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.good_number {
    display: flex;
    gap: 4px;
    align-items: center;
}

.good_item {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    align-items: center;
    justify-content: center
}

.good_image {
    border-radius: 16px;
    width: 82px;
    height: 101px;  
}

.good_name {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
}

.good_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info_wrapper {
    display: flex;
    flex-direction: column;
}

.good_numbers {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.good_right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.good_right_actions {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.good_quantity {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 8px;
    text-align: start;
    width: 64px;
    height: 40px;
}

.delete_button {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    padding: 4px;
    width: 40px;
    height: 40px;   
    background: var(--opacity-neutral-darkest-5);
}

.total_price_wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.provisional_price, .delivery_price {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px; 
    line-height: 150%;
}

.total_price {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: right;
}

.price_item {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

@media only screen and (min-width: 768px) {

    .good_info {
        gap: 0;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    
    .info_wrapper {
        flex: 0 0 auto;  /* Не розтягувати */
    }

    .good_right, .good_right_actions {
        flex-direction: row;
        align-items: center;
        gap: 32px;
    }

}

/* @media only screen and (min-width: 1440px) {

} */