.section {
  font-family: var(--second-family);
  padding: 32px 0px;
}

.containerWrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
}

.list {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr;
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.titleOfCard {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
}

.cardInfo {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
}

@media screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 48px 0;
  }

  .title {
    font-size: 48px;
    max-width: 768px;
  }
}